@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
$blue: hsl(238, 29%, 16%);
$red: hsl(14, 88%, 65%);
$gradientcolor: hsl(273, 75%, 66%);
$gradientcolortwo: hsl(240, 73%, 65%);
$font-size-base: 12px;
$dividers: hsl(240, 5%, 91%);
$primaryText: hsl(240, 6%, 50%);
$secondaryText: hsl(237, 12%, 33%);
body{
    background-image: linear-gradient($gradientcolor 5%, $gradientcolortwo 50%);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: $font-size-base;
}
section hr {
    border: 0.001rem solid $dividers;
}
section a{
    color:$secondaryText;
    cursor: pointer;
}
a:hover{
    color:$red;
}
a:active{
    color:$secondaryText;
}
section p{
    color:$primaryText;
}
.card{
    display:flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    width: 85vw;
    margin: 11em auto 0 auto;
    padding: 11em 2em 3em 2em;
    border-radius: 20px;
    
}
.card h1{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-container img{
    position:absolute;
}
.img-container img:nth-last-of-type(1){
    margin-top: 11em;
    z-index: 0;
}
.img-container img:nth-last-of-type(2){
    margin-top: 2em;
    z-index: 1;
    padding-right: 23px;
}
.accordion{
    display: flex;
    justify-content: space-between;
    margin:1.2em 0 1.2em 0;
}
.panel{
    margin-bottom: 1.1em;
    line-height: 16px;
    display: none;
}
.img-container-l{
    display: none;
}
.arrow-up{ transform: rotate(180deg);}
.active{
    font-weight: 700;
}
.attribution { font-size: 11px; text-align: center; margin-top: 1em;}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:1080px){
    .img-container{
        display: none;
    }
    .img-container-l{
        position: absolute;
        display: inline-block;
        flex-direction: row;
        top:0;
        left:0;
    }
    .img-container-l img:nth-of-type(1){
        position: absolute;
        z-index: 2;
        top: 290px;
        left: 80px;
    }
    .img-container-l img:nth-of-type(2){
        position: absolute;
        z-index:1;
        top:150px;
        left: 100px;
    }
    .img-container-l img:nth-of-type(3){
        position: absolute;
        z-index: 0;
        top: -220px;
        left: -400px;
        opacity: 0.5;
    }
    .card {
        padding: 0;
        //justify-content: flex-end;
        flex-direction: row;
        width: 75vw;
    }
    .flex-content{
        width: 50%;
        height: 350px;
    }
    .flex-content{
        margin: 5em;
    }
    .card h1{
        text-align: left;
        margin-bottom: 1.3em;
    }
}